<div id="<%= dom_id blog %>">
  <p>
    Edit: <%= link_to blog.name, edit_blog_path(blog) %>
  </p>


  Posts (<%= blog.posts.count %>):
  <% blog.posts.each do |post| %>
  <ul>
    <li><%= render post, blog: blog %>
  </ul>
  <% end %>

  <p>
    <%= link_to "New post for #{blog.name}", new_blog_post_path(blog) %>
  </p>

  <hr/>

</div>
