<%= turbo_stream_from @user %>

<p style="color: green"><%= notice %></p>


<div class="header">
  <h2 class="inline title">
    <% if admin? %>
      Admin: Blogs for <%= @user.name %> (<%= @user.blogs.count %>)
    <% else %>
      Blogs for <%= @user.name %> (<%= @user.blogs.count %>)
    <% end %>
  </h2>
  <div class="inline timestamp muted">
    Updated: <%= Time.current.to_s %>
  </div>  
</div>

<div class="">
  <%= link_to "➕ New blog", new_blog_path%>
</div>

<hr/>

<div id="blogs">
  <% @user.blogs.each do |blog| %>
    <%= render blog %>
  <% end %>
</div>

