<%= turbo_stream_from @user %>

<p style="color: green"><%= notice %></p>

<div class="text-right muted">
  Updated: <%= Time.current.to_s %>
</div>  

<h2>
  <div class="inline-block">
    Blogs for <%= @user.name %> (<%= @user.blogs.count %>)
  </div>
</h2>

<div class="text-right">
  <%= link_to "➕ New blog", new_blog_path%>
</div>

<hr/>

<div id="blogs">
  <% @user.blogs.each do |blog| %>
    <%= render blog %>
  <% end %>
</div>

