<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_blog_post_path(@blog, @post) %> |
  <%= link_to "Back to posts", blog_posts_path(@blog) %>

  <%= button_to "Destroy this post", blog_posts_path(@blog, @post), method: :delete %>
</div>
